body{
    text-align: center;
}

header{
    background-color: #525252;
}

#my-navbar{
    background-color: #313131;
}

.navbar-brand{
    color: #FF4C29;
}

.navbar-brand:hover{
    color: #C6DE41;
}