body{
    font-family: 'Courier New', Courier, monospace;
    color: #20C20E;
    text-align: center;
    background-color: #1A120B;
}

header{
    background-color: #313131;
}

.navbar-brand{
    color: #ff065b;
}

.navbar-brand:hover{
    color: #ff6e27;
}